<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrew Wang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Andrew Wang professional website">
    <title>Andrew Wang</title>
</head>

<body onload="addYear()">
    <header>
        <h1 id="webname">Andrew Wang</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active" >CV</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
              </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Descirption</th>
            </tr>
            <tr>
                <td><strong>Carnegie Mellon University</strong></td>
                <td>Bachelor of Science in Information Systems, Minor in Software Engineering
                </td>
            </tr>
            <tr>
                <td><strong>Uncommon Individual Foundation</strong></td>
                <td>• Collaborated closely in the development of a free programming curriculum tailored specifically for underprivileged high-school students in Philadelphia <br> • Engaged in hands-on instruction, delivering in-person lessons that fostered
                    interactive and dynamic programming sessions utilizing Python <br> • Designed more than 20 programming assignments, using insights and experience from introductory university courses to enrich the depth and impact of course materials
                    <br>
                </td>
            </tr>
        </table>
        <a href="../static/Andrew_Wang_Resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Andrew Wang &copy</p>
    </footer>

</body>

</html>