<!DOCTYPE html>
<html lang="en">



<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrew Wang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Andrew Wang professional website">
    <title>Andrew Wang</title>
</head>

<body onload="addYear()">
    <header>
        <h1 id="webname">Andrew Wang</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html" class="active" >For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
              </a>
        </nav>
    </header>
    <div class="mainFun">
        <div id="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button id="SeeMoreBTN" onclick="showList()">Click to see...</button> -->
            <ul id="FavList">

                <li>Reading</li>

                <li>Playing tennis</li>

                


            </ul>
        </div>
        <div id="item2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vEQQW79rDec?si=3XEetU35u2BNXkVy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div id="item3"></div>
            <h3>My favorite places</h3>


            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src=>
            </iframe>
        <div id="item4">
            <img src="../static/IMG_0914.JPG" alt="Andrew Wang fun image" class="funIMG">
        </div>
    </div>
    <footer>
        <p id="copyYear">Andrew Wang &copy</p>
    </footer>

</body>

</html>